<div class="container">
      <div class="row">
       <h3 class="glyphicon glyphicon-envelope">E-mail</h3>
              <p><a href="mailto:dias.prasanna@gmail.com">dias.prasanna@gmail.com</a></p>

    
      </div>
</div><!-- container -->

    