<div class="container">
      <div class="row">
       <h3 class="glyphicon glyphicon-envelope">E-mail</h3>
              <p><a href="mailto:dias.prasanna@gmail.com">dias.prasanna@gmail.com</a></p>

       <h3 class ="glyphicon glyphicon-phone">Phone</h3>
               <p>562-213-3151</p>     
      </div>
</div><!-- container -->

    