   <div class="maincontent">

            <article class="article">
              <h1 class="article-title">About Me</h1>
                <p>I am a software developer with 6+ years of experience in different stages of software development.  I have experience working with waterfall as well as agile development methodology. I have a passion for software development and love developing products and services that deliver delightful customer experience. I have worked with large organizations and small non-profit initiatives.  </p>
                <p>I have Masters in Computer Science from California State University in Long Beach. I am a very fast learner with great communication and interpersonal skills and always look forward to new challenges and learning new technologies.</p>


            </article><!-- article -->

            <article class="article">
              <h1 class="article-title">What am I looking for?</h1>
               <p>I am currently looking for new opportunities in the areas of Full stack web development or Java/J2EE development in the Los Angeles area.   </p>
  
              <p>Note: If you are a non-profit organization looking for support or just want to chat about product and digital in general, please get in touch.</p>
               
            </article><!-- article -->

          </div>