 <div class="container">
 <div class="row">
 <div class="col-sm-8">
 <div class="panel-group">

   
  <div class="panel panel-default">
    <h3 class="speakerslist-title">Media City Realty</h3>
        <p class="speakerslist-info"><a href="https://github.com/prasannadias/MediaCity">
          <img class=" speakerslist-img img-circle pull-left" width="20%" height="30%" src="/images/misc/media.jpg" alt="Photo of UPS"></a>
          Media City Realty is a real estate website that lets you browse through the properties available in your area and contact real estate agents who can then guide you through the process of buying these properties.
        </p>
          <div class="technology-used ">
          <h3>HTML5</h3>
          <h3>CSS3</h3>
          <h3>JavaScript</h3>
          <h3>JQuery</h3>
          <h3>SQL server</h3>
          <h3>PHP</h3>
        </div>
  </div>

    <div class="panel panel-default">
    <h3 class="speakerslist-title">United Parcel services</h3>
        <p class="speakerslist-info"><a href="https://www.ups.com/">
          <img class=" speakerslist-img img-circle pull-left" width="20%" height="30%" src="/images/misc/UPS-logo.jpg" alt="Photo of UPS"></a>
          Automating the existing data analysis and reporting processes used in the district finance department at UPS and development of databases for various finance functions such as payroll management, purchasing, cost reporting etc.
        </p>
          <div class="technology-used ">
          <h3>HTML5</h3>
          <h3>CSS3</h3>
          <h3>JavaScript</h3>
          <h3>SQL server</h3>
          <h3>SSRS</h3>
        </div>
  </div>

    <div class="panel panel-default">
    <h3 class="speakerslist-title">Polaris Software Labs (Delphi XP -Citi)</h3>
        <p class="speakerslist-info"><a href="">
          <img class=" speakerslist-img img-circle pull-left" width="20%" height="30%" src="/images/misc/citi.jpg" alt="Photo of Polaris"></a>
         The Delphi XP application is a web-based application that enables Citibank’s customers to access their reports through a web browser-based interface. Delphi XP acts as an interface between the users and other country-specific systems (CPC, IBBS, Flex, Lock box, Clearing Systems handing off files to Delphi for Delivery) primarily allowing you to view and download reports from various systems.  You can also upload files to these country-specific systems.
        </p>
          <div class="technology-used ">
          <h3>Java</h3>
          <h3>JSP</h3>
          <h3>Struts</h3>
          <h3>HTML</h3>
          <h3>CSS</h3>
          <h3>Javascript</h3>
          
        </div>
  </div>

    <div class="panel panel-default">
    <h3 class="speakerslist-title">Infosys Technologies (Athene - British Telecom)</h3>
        <p class="speakerslist-info"><a href="https://www.infosys.com/">
        
          <img class=" speakerslist-img img-circle pull-left" width="20%" height="30%" src="/images/misc/BT.jpg" alt="Photo of Infosys"></a>
          SOE UK NI – Athene is an initiative to consolidate the IPVPN, ADSL platforms of network inventory into a standard Network Inventory System. This involves development of interfaces between ATHENE and other systems/applications like Business Objects, Fast Services, IPID and PIP. The tool supports the Ethernet services, which are presently maintained using spreadsheets.
        </p>
          <div class="technology-used ">
          <h3>Java/J2EE</h3>
          <h3>HTML5</h3>
          <h3>CSS3</h3>
          <h3>JavaScript</h3>
          <h3>Oracle</h3>
          
        </div>
  </div>

   
</div>
</div>
</div><!-- row -->
</div><!-- container -->


